RACK_ENV=staging
RAILS_ENV=staging
REDIS_SENTINELS="[{'host':'localhost,'port':6379}]"
RAILS_MAX_THREADS=10
RAILS_MAX_POOLS=10
CONFIGURATION_ENV=example_env
SIDEKIQ_CONNECTION_POOL=14
DATABASE_NAME: "database_name"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: ""
